
@import url('https://fonts.googleapis.com/css2?family=Work+Sans:ital,wght@0,100..900;1,100..900&display=swap');
@import url('https://cdnjs.cloudflare.com/ajax/libs/normalize/8.0.1/normalize.min.css');
body{
    /* overflow-x: hidden; */
}
:root{
    --main-color: #588D11;
    --secondery-color: #434342;
    /* --text-color: #333; */
    --text-color:#f7f7f7;
    
}

/*----------- Gerneral -------------*/

* {
    font-family: "Work Sans", sans-serif;
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
.hero-section {
    position: relative;
    text-align: center;
    color: white;
    height: 80vh; 
}
.padding-10{
    padding: 10px;
}
.card-img-overlay {
    position: absolute;
    bottom: 0;
    left: 0;
    width: 100%;
    height: 100%;
    color: white;
    padding: 20px;
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
  }
  .image-container img {
    width: 100%; 
    height: auto;
}
.content-container {
    padding: 20px; 
}
.content-container h1 {
    margin-bottom: 10px;
}
.download-logos img {
    width: 20%;
    margin-right: 10px; 
}
.card-img{
   width: 100%;
  height: 500px;
  object-fit: cover;
}
.background-color{
 background-color: rgb(255, 251, 247);
 width: 100%;

}
.card-section {
    display: flex;
    
    align-items: center;
    padding: 20px;
  
  }
.div-cared-img{
    width: 100%;
    height: 150px;
    object-fit: cover;
}
.card {
    width: 39%;
    max-width: 37.3rem;
    height: 300x;
    margin-bottom: 20px;
    margin-bottom: 20px;
    border-radius: 15px;
    filter: brightness(0.6);
  }
.custom-card {
   
    width: 500px
  }
.bg-img{
    width: 100%;
    height: 100%;
    max-height: 65vh; 
    filter: brightness(0.6);
    position: absolute;
    top: 0;
    left: 0;
    z-index: -1;
    
}
body {
    line-height: 1.6;
}
.text{
    color: white;
}
h1, h2, h3, h4, h5, h6 {
    font-weight: 300;
    margin: 10px 0;
    font-size:2.986rem ;
}

h1 {
    font-size: 2.986rem;
}

h2 {
    font-size: 1.8rem;
    margin-bottom: 20px;
}

h3 {
    font-size: 2.074rem;
}

h4 {
    font-size: 1.728rem;
}

h5 {
    font-size: 1.44rem;
}

h6 {
    font-size: 1.2rem;
}
h1.text-bold {
    font-size: 3rem;
    font-weight: bold;
}
p {
    margin: 10px 0;
}

.small {
    font-size: 0.8rem;
}

/*----------- Container -------------*/
.container {
    width: 100%;
    margin: 0 auto;
    padding: 0 20px;
}


/*----------- Header -------------*/
.navbar {
    position: relative;
    z-index: 1;
}
.icon {
    justify-content: space-between;
    align-items: center;
    width: 30px;
    height: 30px;
}

.nav-items {
    display: flex;
    justify-content: start;
    align-items: center;
    list-style: none;
    margin: 20px 0px;
}
.logo{
 height: 100px;
 width: 100px;
}


.nav-link{
    color: var(--secondery-color);
    text-decoration: none;

    border-radius: 24px;
    transition: background 0.3s ease;
}
.nav-link:hover{
    color: var(--main-color);
}

.nav-link.active{
    color: var(--main-color);
}

/*----------- Button -------------*/





.border{
    display: flex;
    justify-content: center;
    border: 2px solid var(--secondery-color);
    border-radius: 24px;
    width: 600px; 
    border-radius: 20px;
    background-color: white;
    padding: 20px;
    box-shadow: 2px 2px 2px 2px black;
}
.border-radius{
    border-radius: 20px;
    border: 2px solid var(--secondery-color);
}
.btn-primary {
    background: var(--main-color);
}

.btn-primary:hover {
    background: #4a7d0a;
}
.btn-secondary {
    background: #fff;
    color:var(--secondery-color)
}

.btn-secondary:hover {
    background: #f4f4f4;
}

/*----------- Hero -------------*/
.hero {
    display: flex;
    gap: 20px;
    justify-content: space-between;
    flex-wrap: wrap;
    margin: 20px;
    
}
.hero-text-wrapper{
    max-width: 540px;;
}
.hero-text-wrapper h1 {
    margin-bottom: 20px;
    color: var(--text-color);
    font-weight: 600;
}

.hero-text-wrapper p {
    margin-bottom: 20px;
    color: var(--text-color);
}
/*----------- Hr -------------*/
.hr{
    margin: 20px 0px ;
}
 .overflow-text{
    color: white;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
    margin: 10px;
    
 }
 .div{
    display: flex;
 }
 .text-bold{
    font-size: 90px;
font-weight: bold;
}
 .image {
    background: url('../assets/image/3.png') center center / cover no-repeat;
    color: #fff;
    padding: 100px 0;
    /* display: flex; */
    margin: 10px;
    height: 300px;
    width: 300px;
    position: relative; 
    border: 5px solid var(--main-color);
    border-radius: 24px;
    
}
.div{
    display: flex;
    justify-content: space-between;
    
}
.div-justify-content-center{
    /* display: flex; */
    justify-content: center;
    text-align: center;
}
.padding-80{
    padding: 80px;
}
.title{
    color: white;
    margin: 0px 20px;
}
.text-black{
    color: black;
}
.b{
    background-color:var(--b-color) ;
    padding: 10px 30px;
}
.Collections-cared{
   height: 600px;
   width: 300px;
}
.search-input {
    
    width: 400px;
    border: none;
    transition: width 0.3s ease;
  }

.search-input {
    width: 400px;
    border: none;
    transition: width 0.3s ease;
  }
.grid{
    display: grid;
    grid-template-columns: repeat(outo-fill,100);
}
  @media (max-width: 768px) {
    .hero {
        justify-content: center;
        flex-direction: column; 
      }
    
      .card {
        max-width: 100%; 
        height: auto;
      }
    .search-input {
      width: 100%; 
    }

    .container-fluid {
      padding: 10px;
    }

    .collapse {
      display: flex;
      flex-direction: column; 
      align-items: start;
    }

    .nav-link {
      margin-bottom: 10px;
    }

    .fa-magnifying-glass {
      margin-bottom: 10px;
    }
  }

  @media (max-width: 576px) {
    .search-input {
      width: 100%;
    }

    .container-fluid {
      padding: 5px;
    }
    .card{
        height: auto;
    }
  }